<div class="text-center registerDiv mt-5">
  <img src="../../assets/images/satellite.png" alt="logo" width="100" height="100">
  <h2>Register here</h2>
  <form [formGroup]="loginRef" (ngSubmit)="signUp()">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" formControlName="emailid" placeholder="name@example.com">
      <div *ngIf="loginRef.get('emailid')?.hasError('required') && loginRef.get('emailid')?.touched"
        class="text-danger">
        Email is required.
      </div>
      <div *ngIf="loginRef.get('emailid')?.hasError('email') && loginRef.get('emailid')?.touched" class="text-danger">
        Please enter a valid email.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Enter password">
      <!-- Add any other validation messages for password if needed -->
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Fullname</label>
      <input type="text" class="form-control" formControlName="fullname" placeholder="Enter your fullname">
      <!-- Add any other validation messages for fullname if needed -->
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">User Type</label>
      <br>
      <input type="radio" name="role" value="customer" formControlName="role" class="radioBtn" /> &nbsp;<span
        class="radioBtn">Customer</span>
    </div>

    <input type="submit" value="SignUp" class="btn btn-success btn-lg" /> &nbsp;
    <button type="button" class="btn btn-primary btn-lg" (click)="redirectToLogin()">Login</button>
    <br>
    <br>
    <div class="mb-3" *ngIf="errorAlert">
      <div class="alert alert-primary" role="alert">
        {{errorMsg}}
      </div>
    </div>
  </form>
</div>