<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../assets/images/satellite.png" alt="logo" width="50" height="50"></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-danger" aria-current="page" routerLink="/manager-home">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-danger" routerLink="/view-all-manager-complaints">View All Complaints</a>
          </li>
          
          
          
        </ul>
        <label class="role text-danger">Manager: {{managerEmail}}</label>
        <form class="d-flex" role="search">
            
          
          <a routerLink="/login" class="btn btn-success">Logout</a>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <table class="table table-hover table-dark mt-4">
      <thead>
        <tr>
          <th>Complaint ID</th>
          <th>Customer email</th>
          <th>Complaint Address</th>
          <th>Zip Code</th>
          <th>Assigned Engineer</th>
          <th>Reason</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let c of complaints">
          <td>{{c.cid}}</td>
          <td>{{c.cemail}}</td>
          <td>{{c.address}}</td>
          <td>{{c.code}}</td>
          <td>{{c.eemail}}</td>
          <td>{{c.reason}}</td>
          <td>{{c.status}}</td>
          <td>
            <a class="btn btn-primary" (click)="assignEngineer(c)">Assign Engineer</a>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="assign-engineer text-center text-primary" *ngIf="flag">
      <h4>Assign Engineer</h4>
  
      <form (ngSubmit)="updateComplaintDetails()">
        <!-- Engineer dropdown as part of the form -->
        <div>
          <label>Assigned Engineer</label><br>
          <select name="eemail" [(ngModel)]="eemail">
            <option *ngFor="let engineer of engineers" [value]="engineer.emailid">{{ engineer.fullname }}</option>
          </select>

        </div>
  
        <br>
  
        <input type="submit" class="btn btn-primary" value="Assign Engineer" />
        <br> <br>
        <a class="btn btn-warning" (click)="close()">Close</a>
  
        <br>
        <br>
        <div class="alert alert-success" role="alert" *ngIf="msgFlag">
          {{msg}}
        </div>
      </form>
    </div>
  </div>



  