@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;

    
    
}

body{
    background: url("./assets/images/EpDpS0VW4AErWZE.jpg");
    background-size: cover;
}

