
<div class="text-center homeDiv">
    <img src="../../assets/images/satellite.png" alt="logo" width="100" height="100">
    <h2>Login here</h2>
    <form [formGroup]="loginRef" (ngSubmit)="signIn()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="emailid" placeholder="name@example.com" required>
          </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter password" required>
          </div>

          
        <input type="submit" value="SignIn" class="btn btn-success btn-lg"/> &nbsp;
        <br/>
        <input type="button" value="Register" class="btn btn-primary btn-lg" (click)="goToRegister()"/>
 <br>
 <br>
        <div class="mb-3" *ngIf="errorAlert">
            <div class="alert alert-primary" role="alert">
                {{errorMsg}}
              </div>
          </div>
    </form>

    
</div>
