<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <a class="navbar-brand" href="#"><img src="../assets/images/satellite.png" alt="logo" width="50" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mx-auto"> <!-- Center the menus -->
            <!-- Admin-specific menu -->
            <ng-container *ngIf="userRole === 'admin'">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin-home" style="color: white;">Admin Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/create-user" style="color: white;">Create User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view-all-users" style="color: white;">All Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view-wip-complaints" style="color: white;">WIP Complaints</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view-all-completed-complaints" style="color: white;">Completed
                            Complaints</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view-all-complaints" style="color: white;">All Complaints</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view-raised-complaints" style="color: white;">Raised
                            Complaints</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view-escalated-complaints" style="color: white;">Escalated
                            Complaints</a>
                    </li>
                </ul>
            </ng-container>

            <!-- Manager-specific menu -->
            <ng-container *ngIf="userRole === 'manager'">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/manager-home" style="color: white;">Manager Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view-all-manager-complaints" style="color: white;">View All
                            Manager Complaints</a>
                    </li>
                </ul>
            </ng-container>

            <!-- Engineer-specific menu -->
            <ng-container *ngIf="userRole === 'engineer'">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/engineer-home" style="color: white;">Engineer Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view-assigned-complaints" style="color: white;">Assigned
                            Complaints</a>
                    </li>
                </ul>
            </ng-container>

            <!-- Customer-specific menu -->
            <ng-container *ngIf="userRole === 'customer'">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/submit-complaint" style="color: white;">Submit Complaint</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/track-complaints" style="color: white;">Track Complaints</a>
                    </li>
                </ul>
            </ng-container>
        </div> <!-- End of centered menu container -->
    </div>

    <!-- Logout button -->
    <div class="ml-auto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/login" class="nav-link btn btn-success"
                    style="color: white; margin-right: 10px;">Logout</a>
            </li>
        </ul>
    </div>
</nav>