<app-navigation></app-navigation>
    <div class="container">
      <table class=" mt-5 table table-dark table-bordered text-white">
      <thead>
          <tr>
              <th>Email ID</th>
              <th>Fullname</th>
              <th>Role</th>
              <th>Action</th>
             
          </tr>
      </thead>
      
      <tbody>
          <tr *ngFor="let u of users">
              <td>{{u.emailid}}</td>
              <td>{{u.fullname}}</td>
              <td>{{u.role}}</td>
              
              <td><input type="button" value="Delete" class="btn btn-danger" (click)="deleteUser(u.emailid)"></td>
            </tr>
      </tbody>
  
      </table>

      <div class="alert alert-danger text-center" role="alert" *ngIf="errorAlert">
        {{errorMsg}}
      </div>
    </div>