<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../assets/images/satellite.png" alt="logo" width="50" height="50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin-home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-all-complaints">View All Complaints</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-raised-complaints">View Raised Complaints</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-wip-complaints">View Work In Progress Complaints</a>
          </li>
          <li class="nav-item">
  
            <a class="nav-link" routerLink="/view-escalated-complaints">View Escalated Complaints</a>
          </li>
          <li class="nav-item">
  
            <a class="nav-link" routerLink="/view-all-completed-complaints">View Completed Complaints</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/create-user">Create User</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-all-users">View All Users</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
            <label class="role">Admin</label>
          <a routerLink="/login" class="btn btn-success">Logout</a>
        </form>
      </div>
    </div>
  </nav>
    <div class="container">
      <table class=" mt-5 table table-dark table-bordered text-white">
      <thead>
          <tr>
              <th>Email ID</th>
              <th>Fullname</th>
              <th>Role</th>
              <th>Action</th>
             
          </tr>
      </thead>
      
      <tbody>
          <tr *ngFor="let u of users">
              <td>{{u.emailid}}</td>
              <td>{{u.fullname}}</td>
              <td>{{u.role}}</td>
              
              <td><input type="button" value="Delete" class="btn btn-danger" (click)="deleteUser(u.emailid)"></td>
            </tr>
      </tbody>
  
      </table>

      <div class="alert alert-danger text-center" role="alert" *ngIf="errorAlert">
        {{errorMsg}}
      </div>
    </div>