<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../assets/images/satellite.png" alt="logo" width="50" height="50"></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-danger active" aria-current="page" routerLink="/engineer-home" >Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-danger" routerLink="/view-assigned-complaints">View All Complaints Assigned</a>
          </li>
          
          
        </ul>
        <label class="role">Engineer</label>
        <form class="d-flex" role="search">
            
          
          <a routerLink="/login" class="btn btn-success">Logout</a>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>Engineer hOME</h1>
      
  </div>

  
