<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../assets/images/satellite.png" alt="logo" width="50" height="50"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-all-complaints">View All Complaints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">View Raised Complaints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">View Work In Progress Complaints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">View Escalated Complaints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Create User</a>
        </li>
        
        
      </ul>
      <form class="d-flex" role="search">
          <label class="role">Admin</label>
        <a routerLink="login" class="btn btn-success">Logout</a>
      </form>
    </div>
  </div>
</nav>
  <div class="container">
    <table class="table table-stripped">
    <thead>
        <tr>
            <th>Complaint ID</th>
            <th>Customer email</th>
            <th>Complaint Address</th>
            <th>Zip Code</th>
            <th>Assigned Engineer</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let c of complaints">
            <td>{{c.cid}}</td>
            <td>{{c.cemail}}</td>
            <td>{{c.address}}</td>
            <td>{{c.code}}</td>
            <td>{{c.eemail}}</td>
            <td>{{c.reason}}</td>
            <td>{{c.status}}</td>
            <td><input type="button" value="Delete" class="btn btn-danger" (click)="deleteComplaint(c.cid)"></td>
          </tr>
    </tbody>

    </table>
  </div>