<app-navigation></app-navigation>
<div class="text-center text-primary mt-2">
  <img src="../../assets/images/satellite.png" alt="logo" width="100" height="100">
  <h2>Create New User</h2>
  <form [formGroup]="loginRef" (ngSubmit)="signUp()" class="registration-form">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" formControlName="emailid" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Enter password">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Fullname</label>
      <input type="text" class="form-control" formControlName="fullname" placeholder="Enter your fullname">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">User Type</label>
      <br>
      <input type="radio" name="role" value="manager" formControlName="role" />Manager
      <input type="radio" name="role" value="engineer" formControlName="role" />Engineer
    </div>
    <input type="submit" value="SignUp" class="btn btn-success btn-lg" /> &nbsp;
    <div class="mb-3" *ngIf="errorAlert">
      <div class="alert alert-primary" role="alert">
        {{errorMsg}}
      </div>
    </div>
  </form>
</div>